.page h1 {
  margin-top: 15px;
  font-size: 28px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.admin-container {
  max-width: 450px;
  margin: 60px auto;
  background: #111827;
  padding: 35px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  border: 1px solid #1f2937;
}

.admin-container h1 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #e2e8f0;
}

.admin-container input {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: #1f2937;
  color: white;
  border: 1px solid #374151;
  border-radius: 6px;
  font-size: 16px;
}

.admin-container button {
  display: block;
  width: 100%;
  padding: 14px 0;
  margin: 12px 0;
  background: #4f46e5;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.22s;
}

.admin-container button:hover {
  background: #4338ca;
}
.page-container {
  width: 60%;
  margin: auto;
  padding-top: 40px;
  text-align: center;
  color: white;
}

input {
  width: 60%;
  margin: 10px auto;
  padding: 10px;
  display: block;
  border-radius: 5px;
  border: none;
  background: #1e293b;
  color: white;
}

button {
  width: 60%;
  margin: 10px auto;
  padding: 12px;
  display: block;
  border-radius: 6px;
  border: none;
  background: #3b82f6;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

.card {
  margin: 20px auto;
  width: 60%;
  padding: 20px;
  background: #1e293b;
  border-radius: 6px;
  text-align: left;
}

.tx-box {
  margin-top: 20px;
  padding: 15px;
  background: #0f172a;
  color: #38bdf8;
  border: 1px solid #334155;
  border-radius: 6px;
  font-size: 14px;
  word-wrap: break-word;
}

.wallet-tag {
  color: #38bdf8;
}
